<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered the Secret Heaven!</h1>


    <%function shuffle(array) {%>
      <%for (var i = array.length - 1; i > 0; i--) {%>
        <%var j = Math.floor(Math.random() * (i + 1));%>
        <%var temp = array[i];%>
        <%array[i] = array[j];%>
        <%array[j] = temp;%>
      <%}%>
    <%}%>
    <% var items = [] %>
    <% shuffle(userWithSecrets); %>
    <% userWithSecrets.forEach(function(user){ %>
        <% user.secrets.forEach(function(item){ %>
          <% items.push(item); %>
        <% }); %>
    <%});%>
    <% shuffle(items); %>
    <% items.forEach(function(secret){ %>
        <p class="secret-text"><%=secret %></p>
        <% }); %>


    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
